/*
 *
 * General Formatting
 *
 */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: Arial;
  font-size: 0.8em;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

.big {
  font-weight: bold;
  font-size: 1.6em;
}

/*
 *
 * Header
 *
 */


#header {
  background-color: white;
  padding: 5px 0;
}

#header img {
  position: relative;
  right: 20px;
}

#navigation {
  background-color: #DCE2E6;
  border-top: 1px solid #859099;
  border-bottom: 1px solid #859099;
}

#navigation ul {
  list-style-type: none;
  padding: 10px 0px;
}

#navigation li:last-child a {
  border-right: 1px solid #859099;
}

#navigation li {
  display: inline-block;
  font-weight: bold;
}

#navigation a {
  text-decoration: none;
  color: #859099;
  border-left: 1px solid #859099;
  padding: 10px 21px;
}

#header span {
  display: inline-block;
  margin-left: 520px;
  position: relative;
  bottom: 10px;
}

#additional-info {
  height: 35px;
  background-color: white;
}


/*
 *
 * Main Content
 *
 */

#main-content {
}
